$font-size: 18px;

// $bg-color: #FFFFFF;
// $brand-color: #C44536;
// $text-color: #0D0221;

$black: #070113;
$white: #FFFFFF;
$red: #C44536;
$bluegray: #395C6B;
$green: #638475;
$yellow: #F7B32B;

$bg-color: $white;
$brand-color: $red;
$text-color: $black;